/* Align text vertically to center */
.navbar.align-text {
  display: flex;
  align-items: center;
}

/* Ensure buttons and links are centered */
.navbar .nav {
  align-items: center;
}

/* Ensure buttons are aligned to the far right */
.navbar .navbar-collapse {
  justify-content: flex-end;
}

.custom-margin {
  margin-left: 10px !important; /* Use !important to ensure the style is not overridden */
  margin-right: 10px !important; /* Using !important to override other styles */
}

.nav-link .button-margin {
  margin-right: 10px !important; /* Using !important to override other styles */
  margin-left: 10px !important; /* Using !important to override other styles */
}

.button-padding {
  padding-right: 10px; /* Adjust as needed */
}
